<h1>Write your article!</h1>
<%= form_with model: @article, local: true do |f| %>

  <% if @article.errors.any? %>
    <p>You have the following <%= pluralize(@article.errors.count, 'error')%>:</p>
    <% @article.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title, autofocus: true %>
  <br><br>
  <%= f.label :text %><br>
  <%= f.text_area :text%>
  <br><br>
  <%= f.label :image %><br>
  <%= f.file_field :image, direct_upload: true %>
  <br><br>
  <%= fields_for(@selected) do |s| %>
    <%= s.label 'Select as many categories as needed' %><br>
    <%= s.collection_select(:selected_id, @categories, :id, :name, {selected: 4, include_hidden: false}, { multiple: true }) %>
  <% end %>
  <br><br>
  <%= f.submit 'Submit your Article!' %>
<% end %>
