
<div class="homepage">
  <a href="#" class="hero-container">
    <div class="details">
      <h1 class="dark-orange-text"><%= @most_popular.title %></h1>
      <p class="white-text"><%=@most_popular.text.truncate_words(56) %></p>
    </div>
    <%= display_photo(@most_popular) %>
  </a>

  <div class="flex">
    <% @articles_by_cat.each_with_index do |art, ind| %>
      <a href="#" class="recent-article1">
        <div class="details white-text">
          <p><%= @categories.find(ind+1).name %></p>
          <p><%= art.title %></p>
        </div>
        <%= display_photo(art) %>
      </a>
    <% end %>
  </div>
</div>
